fastapi
uvicorn
langchain
langchain-groq
langchain-core
langgraph
chromadb==0.5.23
sentence-transformers
sqlalchemy
psycopg2-binary
pandas
python-dotenv
python-multipart
plotly
streamlit
requests
groq