fastapi
uvicorn
langchain
langchain-groq
langchain-core
langgraph
chromadb==1.0.0
sentence-transformers
sqlalchemy
psycopg2-binary
pandas
python-dotenv
python-multipart
plotly
streamlit>=1.32.0
requests
groq
